<!DOCTYPE html>


<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8">
{{= it.variables.headerNode?.toString() ?? "" }}
    <link rel="stylesheet" type="text/css" href="https://nederhof.github.io/hierojax/hierojax.css">
    <script type="text/javascript" src="https://nederhof.github.io/hierojax/hierojax.js"></script>
    <script type="text/javascript">
      class CustomHieroJax extends HieroJax {
        startLoadingFonts() {
          const hierojax = this;
          this.fonts = [new FontFace("Hieroglyphic", "url(https://ziphil.com/material/font/gardiner.ttf)") ];
          this.nFonts = this.fonts.length;
          this.nFontsLoaded = 0;
          this.fonts.forEach((font) => {
            font.load().then((loadedFont) => {
              document.fonts.add(loadedFont);
              hierojax.nFontsLoaded ++;
            });
          });
        }
      }
      const jax = new CustomHieroJax();
      window.addEventListener("DOMContentLoaded", () => {
        console.log("[Hierojax] Start", jax);
        jax.processFragments();
      });
    </script>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <title>エジプト語</title>
  </head>
  <body>

{{= it.document.toString() }}

  </body>
</html>