@charset "utf-8";

@import "variable.scss";
@import "reset.scss";
@import "font.scss";
@import "root.scss";
@import "block/section.scss";
@import "block/heading.scss";
@import "block/paragraph.scss";
@import "block/figure-container.scss";
@import "block/normal-table.scss";
@import "inline/common.scss";
@import "inline/foreign.scss";


body {
  padding-inline: 15px;
  padding-block: 0px;
  font-family: "Brill Web", "Brill", "Noto Serif", "Yu Mincho", "YuMincho", serif;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  line-height: 1;
  color: hsl(25, 30%, 15%);
  background-color: hsl(25, 10%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block[data-bottom-block-type="text"] +.block[data-top-block-type="text"] {
  margin-top: $block-vertical-margin;
}

.block[data-bottom-block-type="text"][data-section] +.block[data-top-block-type="text"],
.block[data-bottom-block-type="text"] +.block[data-top-block-type="text"][data-section] {
  margin-top: $block-vertical-margin + $additional-section-vertical-margin;
}

.block[data-bottom-block-type="text"] +.block[data-top-block-type="bordered"],
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="text"] {
  margin-top: $block-vertical-margin + $additional-block-vertical-margin;
}

.block[data-bottom-block-type="text"][data-section] +.block[data-top-block-type="bordered"],
.block[data-bottom-block-type="text"] +.block[data-top-block-type="bordered"][data-section],
.block[data-bottom-block-type="bordered"][data-section] +.block[data-top-block-type="text"],
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="text"][data-section] {
  margin-top: $block-vertical-margin + $additional-block-vertical-margin + $additional-section-vertical-margin;
}

.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="bordered"] {
  margin-top: $block-vertical-margin + $additional-block-vertical-margin * 2;
}

.block[data-bottom-block-type="bordered"][data-section] +.block[data-top-block-type="bordered"] ,
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="bordered"][data-section] {
    margin-top: $block-vertical-margin + $additional-block-vertical-margin * 2 + $additional-section-vertical-margin;
}