@charset "utf-8";

@use "sass:math" as *;
@import "../variable.scss";


.section {
  margin-block: 80px;
}

.section-title {
  margin-block-end: 40px;
  border-block-start: solid 2px hsl(25, 30%, 20%);
  display: flex;
  align-items: center;
}

.section-title-number {
  width: 48px;
  height: 48px;
  font-size: 32px;
  font-weight: bold;
  color: hsl(25, 10%, 98%);
  background-color: hsl(25, 30%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.section-title-text {
  margin-inline-start: 20px;
  font-size: 32px;
  font-weight: bold;
  line-height: $heading-line-height;
  flex: 1 1 auto;
}